*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL */

body{
  font-family: 'Fredoka', sans-serif;
}
h1{
  color: #E53170;
}
h2{
  color: white;
  font-size: 1.3rem;
}
span{
  color: white;
}
a{
  color: lightskyblue;
  text-decoration: none;
}

main{
  padding-top: 20px;
}
.container{
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}
header{
  text-align: center;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}


/* HEADER */

.reg-titolo{
  margin-top: 25px;
}

/* MAIN */

.col{
  float:left ;
  width: calc( 100% / 4);
  background-color: rgb(0, 0, 0);
  display: inline-block;
  margin: 25px;
}
.col img{
  width: 80px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
